<%- include('header') %>
<div id="root"></div>
<!-- inject script tag to let bundle.js know
if user is logged in or not for a session, pass user info into page to be used by app
on front end -->
<%- include('footer') %>
